*.csv
*.json
.vscode
Comuni
weights
__pycache__
*.pth
Trash
Super_Resolution/rcan/*
Super_Resolution/swin2mose/*
Super_Resolution/mymodel/*
Super_Resolution/pswin/*
Super_Resolution/myDRCT/*
venv

# Files to keep
!Super_Resolution/rcan/rcan_model.py
!Super_Resolution/swin2mose/moe.py
!Super_Resolution/swin2mose/utils.py
!Super_Resolution/swin2mose/swin2mose_model.py
!Super_Resolution/mymodel/mymodel_model.py
!Super_Resolution/pswin/pswin_model.py
!Super_Resolution/pswin/train.py
!Super_Resolution/myDRCT/DRCT.py
